<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAj-5gz0zMi5UboTQJnZu0_hQjTzyGzvDc</string>
	<key>GCM_SENDER_ID</key>
	<string>683516352288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VictorHugo.Vayoo</string>
	<key>PROJECT_ID</key>
	<string>vayoo-ef0eb</string>
	<key>STORAGE_BUCKET</key>
	<string>vayoo-ef0eb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683516352288:ios:c711ba3c4c328c6534e945</string>
</dict>
</plist>